<div class="container" id="walking-tours">
	<!-- TODO : Add Handlebars for each row -->
	<script id="tour-template" type="text/x-handlebars-template">
		{{#each tour}}
		<div class="container tour-container">
			<div class="row tour" id={{_id}}>
				<div class="row tour-image">
					<img src="{{imageUrl}}">
				</div>
				<div class="row tour-description">
					<h3>{{name}}</h3>
					<h4>City: {{city}}</h4>
					<h4>Author: {{author}}</h4>
					<p>{{description}}</p>
				</div>
			</div>
		</div>
		{{/each}}
	</script>
</div>