<!DOCTYPE html>
<html>
<head>
	<title>Walking Tours</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container" id="page">
		<div class="row">
			<div class="col-md-12">
				<h1>Walking Tours</h1>
			</div>
		</div> 
		<div class="container" id="walking-tours">
			<!-- TODO : Add Handlebars for each row -->
			<div class="row">
				<div class="col-md-4 tour-photo">
					<p>IMAGE PLACEHOLDER</p>
				</div>
				<div class="col-md-8 tour-info">
					<h3>TOUR TITLE</h3>
					<p>Tour description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 tour-photo">
					<p>IMAGE PLACEHOLDER</p>
				</div>
				<div class="col-md-8 tour-info">
					<h3>TOUR TITLE</h3>
					<p>Tour description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 tour-photo">
					<p>IMAGE PLACEHOLDER</p>
				</div>
				<div class="col-md-8 tour-info">
					<h3>TOUR TITLE</h3>
					<p>Tour description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<button type="submit">Create New Tour</button>
		</div>
	</div>
</body>
</html>