<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Walking Tours</title>

	<!-- Bootstrap Library -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

	<script src="/scripts/app.js"></script>
</head>
<body>
	<!-- Page Container -->
	<div class="container" id="page">
		<!-- Header Row -->
		<div class="row">
			<div class="col-md-12">
				<h1>Walking Tours</h1>
			</div>
		</div> 
		<!-- Walking Tours Container -->
		<div class="container" id="walking-tours">
			<!-- TODO : Add Handlebars for each row -->
			<script id="tour-template" type="text/x-handlebars-template">
				{{#each tour}}
					<div class="row">
						<div class="col-md-4 tour-photo">
							<img src="{{imageUrl}}">
						</div>
						<div class="col-md-8 tour-info">
							<h3>{{name}} of {{city}}</h3>
							<h4>Author: {{author}}</h4>
							<p>{{description}}</p>
						</div>
					</div>
				{{/each}}
			</script>
		</div>
		<div class="row">
			<button type="submit" id='create-new-tour'>Create New Tour</button>
		</div>

		<!-- begin tourModal: this is not visible until you call .modal() on it -->
	    <div class="modal fade" tabindex="-1" role="dialog" id="tour-modal">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title">Create New Tour</h4>
	          </div>
	          <div class="modal-body">

	            <fieldset class='form-horizontal'>
	              <!-- Text input-->
	              <div class="form-group">
	                <label class="col-md-4 control-label" for="tourName">Tour Name</label>
	                <div class="col-md-4">
	                  <input id="tourName" name="tourName" type="text" placeholder="" class="form-control input-md" required="">
	                </div>
	              </div>

	              <!-- Text input-->
	              <div class="form-group">
	                <label class="col-md-4 control-label" for="author">Author</label>
	                <div class="col-md-4">
	                  <input id="author" name="author" type="text" placeholder="" class="form-control input-md">
	                </div>
	              </div>

				 <!-- Text input-->
	              <div class="form-group">
	                <label class="col-md-4 control-label" for="city">City</label>
	                <div class="col-md-4">
	                  <input id="city" name="city" type="text" placeholder="" class="form-control input-md">
	                </div>
	              </div>

				 <!-- Text input-->
	              <div class="form-group">
	                <label class="col-md-4 control-label" for="description">Description</label>
	                <div class="col-md-4">
	                  <input id="description" name="description" type="text" placeholder="" class="form-control input-md">
	                </div>
	              </div>

				 <!-- Text input-->
	              <div class="form-group">
	                <label class="col-md-4 control-label" for="image-url">Image Url</label>
	                <div class="col-md-4">
	                  <input id="image-url" name="image-url" type="text" placeholder="" class="form-control input-md">
	                </div>
	              </div>
	            </fieldset>

	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            <button type="button" class="btn btn-primary" id="save-tour">Save changes</button>
	          </div>
	        </div><!-- /.modal-content -->
	      </div><!-- /.modal-dialog -->
	    </div><!-- /.modal -->
	</div>
</body>
</html>