<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&libraries=places"	></script>
	<script src="/scripts/tour.js"></script>
</head>
<body>
	<!-- CONTAINER -->
	<div class="container" id="page">
		<!-- TOUR INFORMATION -->
		<% include ../partials/tourInfo %>

		<!-- LIST OF STOPS -->
		<div class="container" id="tour-stops">
			<script id="stop-template" type="text/x-handlebars-template">
				<div class="container stop-container">
					<div class="row stop" id={{_id}}>
						<h3>{{name}}</h3>
						<p>{{description}}</p>
					</div>
				</div>
			</script>
		</div>

		
		<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    	<div id="map"></div>

    	<!-- DELETE TOUR -->
		<div class="container" id="delete-tour">
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="button" id='delete-tour-button'>DELETE TOUR</button>
				</div>
			</div> 
		</div>
    	
	</div> <!-- END CONTAINER -->

</body>
</html>
