<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="/scripts/tour.js"></script>
</head>
<body>
	<!-- Page Container -->
	<div class="container" id="page">
		<!-- Walking Tours Container -->
		<% include ../partials/tourInfo %>



	</div>
</body>
</html>
