<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&libraries=places"	></script>
	<script src="/scripts/tourpage.js"></script>
</head>
<body>
	<!-- PAGE CONTAINER -->
	<div class="container" id="page">
		<!-- TOUR INFORMATION -->
		<% include ../partials/tourInfo %>

		<!-- LIST OF STOPS -->
		<div class="container" id="tour-stops">
			<script id="stop-template" type="text/x-handlebars-template">
				<div class="container stop-container">
					<div class="row stop" id={{_id}}>
						<input type="text" id="google-place-id" value="{{googlePlacesId}}" style="display:none;">
						<h3 id="stopNameId">{{name}}</h3>
						<h3><input type="text" id="update-stopName" style="display:none;" value="{{name}}"></h3>
						<p id="stopDescription">{{description}}
							<button type="button" class="button edit-stop-button">EDIT  STOP</button>  
							<button type="button" class="button delete-stop-button">DELETE  STOP</button></p>
						<p><input type="text" id="update-stopDescription" style="display:none;" value="{{description}}"> 
							<button type="button" class="button update-stop-button" style="display:none;">UPDATE  STOP</button></p>
					</div>
				</div>
			</script>
		</div>

		<!-- ADD A NEW STOP -->
		<div class="container" id="add-stops">
			<div class="row" id="add-stop">
				<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
				<button type="button" class="button" id="add-new-stop">ADD NEW STOP</button>
			</div>
		</div>
		
    	<div id="map"></div>

    	<!-- DELETE TOUR -->
		<div class="container" id="delete-tour">
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="button" id='delete-tour-button'>DELETE TOUR</button>
				</div>
			</div> 
		</div>
    	
	</div> <!-- END CONTAINER -->

	<!-- MODAL: CREATE A NEW STOP -->
    <div class="modal fade" tabindex="-1" role="dialog" id="stop-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create New Stop</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="stopName">Stop Name</label>
                <div class="col-md-4">
                  <input id="stopName" name="stopName" type="text" required="">
                </div>
              </div>

			 <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-4">
                  <input id="description" name="description" type="text">
                </div>
              </div>
            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="button" id="save-stop">SAVE</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</body>
</html>
