<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&libraries=places"	></script>
	<script src="/scripts/tourpage.js"></script>
</head>
<body>
	<!-- PAGE CONTAINER -->
	<div class="container-fluid" id="page">

    <!-- TITLE ROW -->
    <div class="row title">
      <div class="col-md-12">
        <h1>City Hyke</h1>
      </div>
    </div> 

    <!-- ROW 1 -->
    <div class="row">

      <!-- TOUR INFORMATION -->
        <% include ../partials/tourInfo %> 

    </div> <!-- END OF ROW 1 -->

    <!-- ROW 2 -->
    <div class="row">

      <!-- COLUMN 2 -->
      <div class="col-md-6 col-md-push-6">

          <!-- ADD A NEW STOP -->
          <div id="add-stops">
            <div class="row" id="add-stop">
              <input id="pac-input" class="controls" type="text" required placeholder="Enter a location">
              <button type="button" class="button" id="add-new-stop">ADD NEW STOP</button>
            </div>
          </div>

          <!-- MAP -->
          <div id="map"></div>

      </div> <!-- END OF COLUMN 2 -->

      <!-- COLUMN 1 -->
      <div class="col-md-6 col-md-pull-6">  

        <!-- LIST OF STOPS -->
        <div id="tour-stops">
          <script id="stop-template" type="text/x-handlebars-template">
              <div class="row stop" id={{_id}}>
                <div class="col-sm-8 col-md-8 tourInfo-div">
                  <input type="text" id="google-place-id" value="{{googlePlacesId}}" style="display:none;">
                  <h3 id="stopNameId">{{name}}</h3>
                  <h3><input type="text" id="update-stopName" style="display:none;" value="{{name}}"></h3>
                  <p id="stopDescription">{{description}}</p>
                  <p><textarea id="update-stopDescription" row="3" cols="20" style="display:none;">{{description}}</textarea></p> 
                </div>
                <div class="col-sm-1 col-md-2 buttons-container">
                  <p><button type="button" class="button edit-stop-button">                
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </p> 
                  <p><button type="submit" class="button update-stop-button" style="display:none;">UPDATE</button></p>
                </div>
                <div class="col-sm-1 col-md-2 buttons-container">
                  <p><button type="button" class="button delete-stop-button">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </p>
                </div>
              </div>
          </script>
        </div>

        <!-- MODAL: CREATE A NEW STOP -->
        <div class="modal fade" tabindex="-1" role="dialog" id="stop-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create New Stop</h4>
              </div>
              <form>
                <div class="modal-body">

                  <fieldset class='form-horizontal'>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="stopName">Stop Name</label>
                      <div class="col-md-4">
                        <input id="stopName" name="stopName" type="text">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="description">Description</label>
                      <div class="col-md-4">
                        <input id="description" name="description" type="text">
                      </div>
                    </div>
                  </fieldset>

                </div>
                <div class="modal-footer">
                  <button type="submit" class="button" id="save-stop">SAVE</button>
                </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div> <!-- END OF COLUMN 1 -->

    </div> <!-- END OF ROW 2 -->

    <!-- ROW 3 -->
    <div class="row">

      <!-- BACK TO TOURS and DELETE TOUR -->
      <div id="delete-tour">
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="button" id='back-to-tours'>BACK TO TOURS</button>
            <button type="submit" class="button" id='delete-tour-button'>DELETE TOUR</button>
          </div>
        </div> 
      </div>

    </div> <!-- END OF ROW 3 -->

    <!-- FOOTER -->
    <% include ../partials/footer %>
    
  </div> <!-- END OF CONTAINER -->


</body>
</html>
